.xMarkIcon {
  position: absolute;
  right: -20px;
  top: 0;
  transition: 0.3s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    color: rgb(255, 24, 24);
  }
}