.todoLength {
  display: block;
  font-size: 10px;
  width: 100%;
  text-align: end;
  padding-right: 30px;
  animation: mountTodoLength 0.3s ease-in-out forwards;
}

@keyframes mountTodoLength {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.todoBlock {
  width: calc(100% - 26px);
  border-radius: 15px 15px;
  box-shadow: inset rgba(0, 0, 0, 25%) 0 0 4px;
  position: relative;
  margin: 10px 0;
  //animation: mountBlock 0.3s ease-in-out forwards;
  background-color: white;
}

@keyframes mountBlock {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.dragIconBlock {
  position: absolute;
  left: 2px;
  top: 0;
  display: flex;
  align-items: center;
  cursor: grab;
  height: 100%;
  &:hover {
    transition: 0.3s;
    opacity: 0.3;
  }
}

.draggedTodo {
  box-shadow: rgba(0, 0, 0, 0.32) 0 0 15px;
}

.todo {
  outline: none;
  resize: none;
  border: none;
  height: 100%;
  width: 100%;
  padding: 20px 5px 20px 25px;
  animation: showTodo 0.3s ease-in forwards;
  &::-webkit-scrollbar {
    width: 4px
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.32);
    border-radius: 5px;
  }
}

.deleteTodo {
  width: calc(100% - 26px);
  border-radius: 15px 15px;
  padding: 15px 20px;
  box-shadow: inset rgba(0, 0, 0, 25%) 0 0 4px;
  position: relative;
  animation: unmountBlock 0.3s ease-in-out forwards;
}

@keyframes unmountBlock {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}