.main {
  height: 22px;
  width: 22px;
  position: absolute;
  right: 15px;
  top: 10px;
  .colorInputBlock {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 10px;
    min-width: 200px;
    width: 22vw;
    padding: 10px 16px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;
    animation: showInputBlock 0.3s linear forwards;
    transition: all 0.3s;
  }
  .textAreaBlock {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    span {
      transition: 0.3s;
      margin-left: 2px;
    }
    &:hover {
      span {
        margin-left: 10px;
      }
    }
    textarea {
      width: 100%;
      height: 30%;
      padding: 10px 6px;
      resize: none;
      outline: 1px rgba(0, 0, 0, 0.13) solid;
      border: none;
      border-radius: 5px;
      overflow: auto;
      background-color: transparent;
      &::-webkit-scrollbar {
        width: 4px
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.32);
        border-radius: 5px;
      }
    }
  }
  .colorPaletteIcon {
    min-height: 22px;
    min-width: 22px;
    height: 3vh;
    width: 3vh;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 0.3;
    }
    path {
      fill: #333333;
    }
  }
  .previewIconBlock {
    display: flex;
    justify-content: flex-end;
  }
  .previewIcon {
    min-height: 20px;
    min-width: 20px;
    height: 1.5vh;
    width: 1.5vh;
    transition: 0.3s;
    cursor: help;
    &:hover {
      opacity: 0.3;
    }
    path {
      fill: #1890FF;
    }
  }
  .gradientVariantsBlock {
    width: 100%;
    position: relative;
    span {
      transition: 0.3s;
      margin-left: 2px;
    }
    &:hover {
      span {
        margin-left: 10px;
      }
    }
  }
  .gradientsList {
    overflow: hidden;
    //min-height: 28px;
    //height: 28px;
    max-height: 230px;
    width: 100%;
    border-radius: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 30%);
    display: grid;
    grid-template-columns: repeat(auto-fill, 20px);
    grid-gap: 10px;
    padding: 3px 19px;
    transition: all 0.3s;
    &::-webkit-scrollbar {
      width: 2px
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.32);
      border-radius: 5px;
    }
  }
  .viewAllBlock {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 23px 0;
  }
  .viewAllButton {
    border: none;
    outline: none;
    background: transparent;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #1890FF;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
  }
  .gradientVariant {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #b5b5b5;
    box-shadow: rgba(0, 0, 0, 7%) 2px 1px 3px;
  }
  .acceptIconBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  .acceptIcon {
    min-height: 20px;
    min-width: 20px;
    height: 5%;
    width: 5%;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.3;
    }
    path {
      fill: #1890FF;
    }
  }
}
.hidden {
  opacity: 0.5;
}

@keyframes showInputBlock {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(calc(-20vw - 20px));
  }
}