.addIconBlock {
  position: absolute;
  right: 23px;
  cursor: pointer;
  .addIcon {
    filter: drop-shadow(0 1px 0.5px rgba(0, 0, 0, 25%));
    transition: all 0.3s;
    &:hover {
      transform: scale(1.3);
      & > path {
        stroke: rgb(171, 171, 171)
      }
    }
  }
}