.main {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  animation: mount 0.3s linear forwards;
}

  @keyframes mount {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.blurBlock {
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: 1;
  opacity: 0;
  left: -100%;
  transition: 0.3s;
}

@media (max-width: 950px) {
  .main {
    flex-direction: column;
    gap: 10px;
  }
}